
DB=xxx


DB_PORT=***
DB_PASSWORD=***
DB_NAME=***
DB_HOST=***
DB_USERNAME=***

MONGODB=***

AZURE_STORAGE_CONNECTION_STRING=***
SONGS_CONTAINER=***
IMAGES_CONTAINER=***

JWT_SECRET=***

FIREBASE_PROJECT_ID=***
FIREBASE_PRIVATE_KEY=***
FIREBASE_CLIENT_EMAIL=***

MOVISTAR_SUBSCRIPTION_ID=***
MOVISTAR_SUBSCRIPTION_NAME=***
MOVISTAR_SUBSCRIPTION_TYPE=***
MOVISTAR_SUBSCRIPTION_URL=***

DIGITEL_SUBSCRIPTION_ID=***
DIGITEL_SUBSCRIPTION_NAME=***
DIGITEL_SUBSCRIPTION_TYPE=***
DIGITEL_SUBSCRIPTION_URL=***